*{
    margin: 0;
    top: 0;
}
body{
      background: linear-gradient(to right, #04080f, #052d5a);
      
}
.contenair{
    margin-top: 100px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
h1{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
input {
    width: 700px;
    padding: 20px 30px;
    height: 70px;
    border-radius: 12px;
    font-size: 20px;
}
.dihy_liste {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,  300px);
    gap: 20px;
    justify-content: center; 
    box-sizing: border-box; 
}
.dihy {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;

}
.dihy:hover{
    transform: scale(1.1);
    cursor: pointer;
    border:1px solid #13bbff;
}

h4{
    color: #fff;
    font-weight: bold;
}
span{
    color: #13bbff;
}

.box-image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-image img{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    justify-content: center;
}
span.trad{
    color: red;
}
span.dance{
    color: green;
}

.contenair .imag {
    position: absolute;
    background-image: url("../Saved Pictures/danse/feuxd.png"); 
    top: 0;
    left: 0;
    width: 200px; 
    height: 200px; 
    background-size: cover; 
    background-repeat: no-repeat; 
    border: 1px solid transparent;
}

.auteur{
    width: 100%;
    display: flex;
    background: #04080f;
    color: #ccc;
    justify-content: center;
    align-items: center;
}
.auteur p{
    text-align: center;
}

@media(max-width:1240px){
  
    .dihy_liste {
        margin-top: 40px;
        
        grid-template-columns: repeat(1,  300px);
        gap: 10px;
        justify-content: center; 
        box-sizing: border-box; 
    }
    input {
        width: 300px;
        padding: 5px 10px;
        height: 50px;
        border-radius: 6px;
        font-size: 14px;
    }
    h1{
        font-size: 25px;
       
        margin-bottom: 20px;
    }
    .contenair .imag {
        
        width: 100px; 
        height: 80px; 
    
    }
}